<h2>Welcome to Our Application!</h2>
<p>Thank you for registering with us. Please click the link below to confirm your email address:</p>
<a href="{{confirmationUrl}}" target="_blank">Confirm Your Account</a>
<br>
<p>If you didn’t create an account, please ignore this email.</p>
<p>Best regards,</p>
<p>Your Application Team</p>